html{
    /*background: url(../img/bg_grass.png) repeat;*/
    background-color: #333;
}

#ladder{
    padding:4px;
    /*height: 68px;*/
    background-color: rgba(255,255,255,0.4);
    position:fixed;
    top:0;
    left:0;
    z-index: 1000;
}

.team{
    float: left;
    line-height: 30px;
    font-size: 16px;
    /*width: 250px;*/
    background: rgba(255,255,255,0.5);
    margin:2px;
    padding: 2px;

    /*height: 30px;*/
}
.team .logo{
    float: left;
    width: 20px;
    height: 30px;
    /*border: solid 1px #333333;*/
    margin-right:10px;
}

.team .label{
    /*width: 130px;*/
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    float: left;
    margin-right:10px;
}

.team .score{
   font-weight: bold;
    margin-right:10px;
    background: url(../img/sales.png) no-repeat center left;
    padding-left:28px;
}
.team .score.sales{
    background: url(../img/sales.png) no-repeat center left;
}

.team .score.purchases{
    background: url(../img/purchases.png) no-repeat center left;
}

.team .score.costs {
    background: url(../img/costs.png) no-repeat center left;
}


.spacer{clear:both;}

#city_canvas{
    position:absolute;
    z-index: 10;
}

#animation_canvas{
    position:absolute;
    z-index: 20;
}

#events{
    color:#ddd;
    background: rgba(0,0,0,0.3);
    position: fixed;
    bottom:0;
    line-height: 1.5em;
    font-size: 0.8em;
    padding:10px;
    width:100%;
}


